
@{
    ViewData["Title"] = "Invoice";
Layout=null;
}
<link href="~/css/bootstrap.css" rel="stylesheet" />
<style>
    #inv {
        width: 21cm;min-height: 29.7cm;padding: 1cm;
        margin: 1cm auto;border: 1px #D3D3D3 solid;
        border-radius: 5px;background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        line-height:90%;
    }
    .invoice-title h2, .invoice-title h3 {
        display: inline-block;
    }

    .table > tbody > tr > .no-line {
        border-top: none;
    }

    .table > thead > tr > .no-line {
        border-bottom: none;
    }

    .table > tbody > tr > .thick-line {
        border-top: 2px solid;
    }
</style>
@model SalesViewModel
<div class="container" id="inv">
    <div class="row">
        <div class="col-xs-12">
             <div class="invoice-title">
                
            </div>
            <div class="invoice-title">
                <h2>Cash Memo/Prescription Register </h2><h3 class="pull-right">Inv No# @Html.DisplayFor(x=>x.masterinvc.InvId)</h3>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-6">
                    <address>
                        <strong>Patient:</strong><br>
                        @Html.DisplayFor(x=>x.masterinvc.PatientName)<br>
                        @Html.DisplayFor(x => x.masterinvc.PatientAdres)                   
                    </address>
                </div>
                <div class="col-xs-6 text-right">
                    <address>
                        <strong>Doctor:</strong><br>
                        @Html.DisplayFor(x => x.masterinvc.DrName)<br>
                        @Html.DisplayFor(x => x.masterinvc.RegNo)                        
                    </address>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">

                </div>
                <div class="col-xs-6 text-right">
                    <address>
                        <strong>Invoice Date:</strong><br>
                        @DateTime.Now
                    </address>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Summary</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr><td class="text-center"><strong>Quantity</strong></td>
                                    <td><strong>Item</strong></td>
                                    <td class="text-center"><strong>Mfg</strong></td>
                                    <td class="text-center"><strong>Batch No.</strong></td>
                                    <td class="text-center"><strong>Exp Date</strong></td>
                                    <td class="text-center"><strong>Price</strong></td>
                                    <td class="text-right"><strong>Totals</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                @{double total = 0.0;}
                                @foreach (var item in Model.invcchld)
                                {
                                <tr>
                                    <td>@item.Qty</td>
                                    <td>@Html.Display(item.Description)</td>
                                    <td class="text-center">$10.99</td>
                                    <td class="text-center">1</td>
                                    <td class="text-right">$10.99</td>
                                </tr>                               
                                }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="width: 21cm;min-height: 29.7cm;padding: 1cm;margin: 1cm auto;border: 1px #D3D3D3 solid;border-radius: 5px;background: white;box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);line-height:90%" ng-controller="SalesController">

    <table class="table" style="margin-top:20px">
        <th align="left" style="border:none">No. : @Html.DisplayFor(x=>x.masterinvc.InvId)</th>
        <th align="center" style="border:none">Cash Memo/Prescription Register </th>
        <th align="right" style="border:none">D.L No.: (9982-S, 9983-SB)</th>
        <tr>
            <table border="1px solid black" style="width:50%" align="left">
                <tbody>
                <th style="border:none" align="left"><label>LIFE CARE PHARMACY</label></th>
                <tr><th style="border:none" align="left"><label>Chemist & Dragist</label></th></tr>
                <tr><th style="border:none" align="left"><label>Beldanga New Hospital Para,Hatpara</label></th></tr>
                <tr><th style="border:none" align="left"><label>p.o - Beldanga, Dist. Murshidabad</label></th></tr>
                </tbody>
            </table>
        </tr>
        <tr>
            <table border="1px solid black" style="width:50%">
                <th style="border:none" align="left"><label>Patient Name: </label>@Html.DisplayFor(x=>x.masterinvc.PatientName)</th>
                <tr><th style="border:none" align="left"><label>Address:</label>@Html.DisplayFor(x => x.masterinvc.PatientAdres)</th></tr>
                <tr><th style="border:none" align="left"><label>Dr.'s Name:</label>@Html.DisplayFor(x => x.masterinvc.DrName)</th></tr>
                <tr><th style="border:none" align="left"><label>Regd. No.:</label>@Html.DisplayFor(x => x.masterinvc.RegNo)</th></tr>
            </table>
        </tr>
    </table>
    <table border="1px solid black" style="width:100%;margin-top:20px">
        <thead>
        <th>Qntyty.</th>
        <th>Description</th>
        <th>Mfg</th>
        <th>Batch No.</th>
        <th>Exp. Date</th>
        <th>Rs.</th>
        <th>P.</th>
        </thead>
        <tbody>
            @{double total=0.0;}
           @foreach(var item in Model.invcchld) {
            <tr>
                <td>@item.Qty</td>
                <td>@item.Description</td>
                <td>@item.Description</td>
                <td>@item.BatchNo</td>
                <td>@item.ExpDt</td>
                <td>@item.Amount</td>
                <td>@item.Description</td>
            </tr>

            total+=@item.Amount;
            }
        </tbody>
    </table>
    <table border="1px solid black" style="width:50%" align="Right">
    <thead>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Total</th>
        <th>@total</th>
        <th></th>
        </thead>
    </table><br /><br /><br />
    <p>Date: @DateTime.Now<p>
        <table style="width:100%;margin-top:20px">
            <th align="left">N.B. :Please get your medicine checked by your doctor before youse. </th>
            <th align="right">Signature</th>
        </table>
</div>

