
@{
    ViewData["Title"] = "Invoice";
Layout=null;
}
@model SalesViewModel
<div style="width: 21cm;min-height: 29.7cm;padding: 1cm;margin: 1cm auto;border: 1px #D3D3D3 solid;border-radius: 5px;background: white;box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);line-height:90%" ng-controller="SalesController">

    <table border="1px solid black" style="width:100%;margin-top:20px">
        <th align="left" style="border:none">No. : </th>
        <th align="center" style="border:none">Cash Memo/Prescription Register </th>
        <th align="right" style="border:none">D.L No.: (9982-S, 9983-SB)</th>
        <tr>
            <table border="1px solid black" style="width:50%" align="left">
                <tbody>
                <th style="border:none" align="left"><label>LIFE CARE PHARMACY</label></th>
                <tr><th style="border:none" align="left"><label>Chemist & Dragist</label></th></tr>
                <tr><th style="border:none" align="left"><label>Beldanga New Hospital Para,Hatpara</label></th></tr>
                <tr><th style="border:none" align="left"><label>p.o - Beldanga, Dist. Murshidabad</label></th></tr>
                </tbody>
            </table>
        </tr>
        <tr>
            <table border="1px solid black" style="width:50%" align="">
                <th style="border:none" align="left"><label>Student Name: </label><span ></span>&nbsp;<input type="text" asp-for="masterinvc.PatientName" readonly/></th>
                <tr><th style="border:none" align="left"><label>Address:</label><input type="text" asp-for="masterinvc.PatientAdres" /></th></tr>
                <tr><th style="border:none" align="left"><label>Dr.'s Name:</label><input type="text" asp-for="masterinvc.DrName" /></th></tr>
                <tr><th style="border:none" align="left"><label>Regd. No.:</label><input type="text" asp-for="masterinvc.RegNo" /> </th></tr>
            </table>
        </tr>
    </table>
    <table border="1px solid black" style="width:100%;margin-top:20px">
        <thead>
        <th>Qntyty.</th>
        <th>Description</th>
        <th>Mfg</th>
        <th>Batch No.</th>
        <th>Exp. Date</th>
        <th>Rs.</th>
        <th>P.</th>
        </thead>
        <tbody>
            @{double total=0.0;}
           @foreach(var item in Model.invcchld) {
            <tr>
                <td>@item.Qty</td>
                <td>@item.Description</td>
                <td>@item.Description</td>
                <td>@item.BatchNo</td>
                <td>@item.ExpDt</td>
                <td>@item.Amount</td>
                <td>@item.Description</td>
            </tr>

            total+=@item.Amount;
            }
        </tbody>
    </table>
    <table border="1px solid black" style="width:50%" align="Right">
    <thead>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Total</th>
        <th>@total</th>
        <th></th>
        </thead>
    </table><br /><br /><br />
    <p>Date: @DateTime.Now<p>
        <table style="width:100%;margin-top:20px">
            <th align="left">N.B. :Please get your medicine checked by your doctor before youse. </th>
            <th align="right">Signature</th>
        </table>
</div>

