@model UserProfileVM
<h2>User Profile</h2>
<div class="blankpage-main">

    @if (TempData["msg"]!=null)
    {
        <div class="row alert alert-success">
            @TempData["msg"]

        </div>

    }
    <form method="post" asp-action="Profile" asp-controller="Home">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Clinic Name</label>
                    <input type="text" class="form-control" asp-for="Name" />
                </div>
                <div class="form-group">
                    <label>Sub Title</label>
                    <input type="text" class="form-control" value="Chemist & Druggist" asp-for="subTitle" />
                </div>
                <div class="form-group">
                    <label>DL No</label>
                    <input type="text" class="form-control" asp-for="DLNo" />
                </div>
                <div class="form-group">
                    <label>Mobile</label>
                    <input type="text" class="form-control" asp-for="Mobile" />
                </div>
                <div class="form-group">
                    <label>UserName :</label> <strong>@{ 
                        if (Model != null)
                        {
                           <span> @Model.userName</span>
                            }
                        }
                    </strong>

                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Address Line 1</label>
                    <input type="text" class="form-control" asp-for="Address1" />
                </div>
                <div class="form-group">
                    <label>Address Line 2</label>
                    <input type="text" class="form-control" asp-for="Address2" />
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" asp-for="Email" />
                </div>
                <div class="form-group">
                    <label>Account Expiry Date</label> <strong>
    @{
        if (Model != null)
        {
            
                            <span> @Model.AccountExpDt</span>
                            @Html.HiddenFor(x=>x.AccountExpDt)
            @Html.HiddenFor(x=>x.CreatedDt)
            @Html.HiddenFor(x=>x.userName)
            @Html.HiddenFor(x=>x.lastLogin)
                        }
                    }
                </strong>
            
                <div class="form-group">
                    <label>Account Status : </label>
                    @{ string str = string.Empty;
                        if (Model != null)
                        {

                            if (Model.IsActive)
                            {
                                str = "<span style='color:green;'>Active</span>";
                            }
                            else
                            {
                                str = "<span style='color:red;'>De-Active</span>";
                            }
                        }
                    }
                    <strong>@Html.Raw(str)</strong>

                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Update" />
        </div>
            </div>
    </form>



</div>
@section Scripts{
    <script>
        $('#menu').load('click', 'li', function () {
            $('#menu li.active').removeClass('active');
            console.log("#menu-Profile");
            $('#menu-Profile').addClass('active');
        });
    </script>
}