
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
</head>
@model IList<UserProfile>
<body>
    <div class="container"><hr />
        <a href="/PharmaBook/Register" class="btn btn-primary">Registration</a>
        <span style="float:right;">
            <a href="/" class="btn btn-primary"><< Home</a>
        </span>
     <br />
        <h3>
            @if(TempData["msg"]!=null){
                @TempData["msg"]
        }
        </h3>
        <hr />
    <div class="row">
        <div class="col-xs-2">
            <h4>Total Member : @Model.Count() </h4>
        </div>
        <div class="col-xs-3">
           <h4> Active Member : @Model.Where(x => x.IsActive == true).Count()</h4>
        </div>
        <div class="col-xs-2">
            <h4>InActive Member : @Model.Where(x => x.IsActive == false).Count()</h4>
        </div>
        <div class="col-xs-2">
          <h4> Account Expired : @Model.Where(x => x.AccountExpDt >= DateTime.Now).Count()</h4>
        </div>
        <div class="col-xs-3">
            @{ 
                DateTime start = DateTime.Now.AddMonths(2);
                DateTime end = DateTime.Now;
                int count= Model.Where(x => x.AccountExpDt >= end && x.AccountExpDt <= start).Count();
            }
            <h4> Next 2 month Expiry : @count</h4>
        </div>
    </div>
        
       <table class="table">
           <thead>
               <tr>
                   <th>User Name</th>
                   <th>Clint Name</th>
                   <th>DL No</th>
                   <th>IsActive</th>
                   <th>Last Login</th>
                   <th>Account Exp</th>
                   <th></th>
               </tr>
           </thead>
           <tbody>
              @foreach (var item in Model){
               <tr>
                   <td>@item.userName</td>
                   <td>@item.Name</td>
                   <td>@item.DLNo</td>
                   <td>
                   @{ 
                       string str = string.Empty;
                       if (item.IsActive)
                       {
                           str = "<span style='color:green;'>Active</span>";
                       }
                       else
                       {
                           str = "<span style='color:red;'>In-Active</span>";
                       }
                   }
                   @Html.Raw(str)</td>
                   <td>@item.lastLogin</td>
                   <td>@item.AccountExpDt.ToString("dd/MM/yyyy")</td>
                   <td><a href="/PharmaBook/EditUser/@(item.Id)">Edit</a></td>
               </tr>
                       }
           </tbody>
       </table>
    </div>
</body>
</html>
